PORT=8000
REDIS_URL=redis://localhost:6379
PG_DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres-db
VITE_SOCKET_STATUS_EVENT_NAME="status-event"
VITE_SOCKET_MESSAGE_EVENT_NAME="message-event"